// Footer
footer {
    background-color: $secondary-color;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .col {
    flex: 1;
    margin-bottom: 20px;
  }
  
  .col:not(:last-child) {
    margin-right: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  
  li {
      margin-bottom: 10px;
  
      a {
        font-size: 18px;
        font-weight: 900;
        color: $primary-color;
        text-decoration: none;
  
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
  
  .newsletter-form {
    flex: 1;
    text-align: right;
  
    form {
      text-align: left;
    }
  
    h4 {
      color:$primary-color;
      font-weight: 900;
    }
  
    p {
      color:$primary-color;
      font-weight: 500;
      margin: 0;
      margin-bottom: 10px;
    }
  
    input[type=email] {
      background-color: $secondary-color;
      
    }

    input[type=email]::placeholder {
      opacity: 1;
      font-weight: 700;
    }
  
    button[type=submit] {
      background-color:$secondary-color;
      color: $primary-color;
      accent-color: $accent-color;
      font-weight: 900;
      margin-top: 10px;
      margin-left: 5px;
  
      &:hover {
        color:$accent-color;
      }
    }
  }
  