// Variables
$background-color: peachpuff;
$primary-color: rgb(221, 178, 121);
$secondary-color: antiquewhite;
$accent-color: grey;

// Header
header {
  display: flex;
  height: 70px;
  margin-bottom: 20px;
  background-color: $secondary-color;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: flex;
  height: 55px;
  margin: 10px;
  text-decoration: none;
}

header .logo img {
  height: 100%;
}

header .logo h1 {
  padding: 10px;
  font-size: 35px;
  align-self: center;
  margin-left: 10px;
  color: $primary-color;
}

header .logo h1:hover {
  color: $accent-color;
}

header nav {
  display: flex;
  margin-right: 15px;
  font-size: 25px;
  align-items: center;
  padding-right: 20px;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 10px;
}

header nav ul li a {
  text-decoration: none;
  color: $primary-color;
  font-size: 25px;
}

header nav ul li a:hover {
  color: $accent-color;
}

// Body
body.bg-peachpuff {
  background-color: $background-color;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
}

.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.inicio .banner {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.inicio .btn-default {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: $secondary-color;
  color: $primary-color;
}

.inicio .btn-default:hover {
  background-color: $accent-color;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.product:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product h3 {
  font-size: 22px;
  margin-top: 20px;
}

.product p {
  font-size: 16px;
  color: $accent-color;
}

.product img.producto {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 300px;
}

img.banner {
  max-width: 100%;
  height: auto;
}

.faq dd {
  margin-bottom: 2em;
}

// Footer
footer {
  background-color: $secondary-color;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.col {
  flex: 1;
  margin-bottom: 20px;
}

.col:not(:last-child) {
  margin-right: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

li {
    margin-bottom: 10px;

    a {
      font-size: 18px;
      color: $primary-color;
      text-decoration: none;

      &:hover {
        color: $accent-color;
      }
    }
  }
}

.newsletter-form {
  flex: 1;
  text-align: right;

  form {
    text-align: left;
  }

  h4 {
    color:$primary-color;
  }

  p {
    color:$primary-color;
    margin: 0;
    margin-bottom: 10px;
  }

  input[type=email] {
    background-color: $secondary-color;
  }

  button[type=submit] {
    background-color:$secondary-color;
    color: $primary-color;
    accent-color: $accent-color;
    margin-top: 10px;

    &:hover {
      color:$accent-color;
    }
  }
}

// Media Queries
@media only screen and (max-width: 768px) {
  .logo {
    justify-content: center;
    margin-right: 0;

    h1 {
      font-size: 25px;
      margin-left: 0;
    }
  }

  header nav {
    display: flex;
    margin-right: 0;
    font-size: 20px;

    a {
      margin-right: 10px;
    }
  }

  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media only screen and (max-width: 576px) {
  .logo h1 {
    display: none;
  }

  header nav {
    display: flex;
    font-size: 20px;

    a {
      margin-right: 10px;
    }
  }

  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .newsletter-form {
    text-align: center;
  }

  .col {
    margin-right: 0;
  }
}
