/* Header */
header {
  display: flex;
  height: 70px;
  margin-bottom: 20px;
  background-color: antiquewhite;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  margin-right: 15px;
  font-size: 25px;
  align-items: center;
  padding-right: 20px;
}

header nav a {
  text-decoration: none;
  margin-right: 20px;
  color: rgb(221, 178, 121);
}

.logo {
  display: flex;
  height: 55px;
  margin: 10px;
  text-decoration: none;
}

.logo h2 {
  font-size: 35px;
  align-self: center;
  margin-left: 10px;
  color: rgb(221, 178, 121);
}


/* Body */
body.bg-peachpuff {
  background-color: peachpuff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
}

img.producto {
  max-width: 100%;
  height: auto;
  width: 500px;
  height: 500px;
}

img.banner {
  max-width: 100%;
  height: auto;
}

#inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#inicio .banner {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#inicio button {
  display: block;
  margin: 0 auto;
  text-align: center;
}


/* Footer */
footer {
  background-color: antiquewhite;
  padding: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
}

.col {
  flex: 1;
}

.col:not(:last-child) {
  margin-right: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 10px;
}

.newsletter-form {
  flex: 1;
  text-align: right;
}

.newsletter-form form {
  text-align: left;
}

.newsletter-form h4,
.newsletter-form p {
  margin: 0;
}

.newsletter-form input[type="email"],
.newsletter-form button[type="submit"] {
  display: block;
  margin-top: 10px;
}
